<h3> CAT RENTER </h3>

<form action = "<%= cat_rental_requests_url %>" method = "POST" >

<p>
<label for = 'cat_rental_request'>Start Date</label>
<input name = "cat_rental_request[start_date]" id = "cat_rental_request_start_date" type = "date" value = "<%= @request.start_date%>">
</p>

<p>
<label for = 'cat_rental_request'>End Date</label>
<input name = "cat_rental_request[end_date]" id = "cat_rental_request_end_date" type = "date" value = "<%= @request.end_date%>">
</p>

<p>
<label for = 'cat_rental_request_cat_id'>Cat Name</label>
<select name="cat_rental_request[cat_id]">
<option></option>
<% Cat.all.each do |cat|%>
<option value = "<%= cat.id %>"
  <% if @request.cat_id == cat.id %>selected="selected"<% end %>>
  <%= cat.name %> 
</option>
<% end %>
</select>
</p>

<input type="submit" value="Request a cat">