<% action_url = cat.persisted? ? cat_url(cat) : cats_url %>
<% form_method = cat.persisted? ? "PATCH" : "POST" %>
<% submit_text = cat.persisted? ? "Update" : "Create" %>

<form action = "<%= action_url %>" method = "post" >
<input type="hidden" name="_method" value= "<%= form_method %>">

<p>
<label for = 'cat_name'>Name</label>
<input name = "cat[name]" id = "cat_name" type = "text" value = "<%= @cat.name %>">
</p>

<p>
<label for = 'cat_age'>Age</label>
<input name = "cat[age]" id = "cat_age" type = "number" value = "<%= @cat.age%>">
</p>


<p>
<label for = 'cat_birth_date'>Birthdate</label>
<input name = "cat[birth_date]" id = "cat_birth_date" type = "date" value = "<%= @cat.birth_date%>">
</p>


<p>
<label for = 'cat_color'>Color</label>
<select name="cat[color]">
<option></option>
<% %w(red blue black tan white green plaid).each do |color|%>
<option value = "<%= color %>"
  <% if @cat.color == color%>selected="selected"<% end%>>
  <%= color%> 
</option>
<% end %>
</select>
</p>


<p>
Sex
<div>
<input name = "cat[sex]" id = "cat_sex" type = "radio" value="M"
  <% if @cat.sex == 'M'%>checked="checked"<% end%>>
<label for="cat_sex_m">Male</label>
<input name="cat[sex]" id = "cat_sex" type="radio" value="F"
  <% if @cat.sex == 'F'%>checked="checked"<% end%>>
<label for="cat_sex_f">Female</label>
</div>                                 
</p>

<p>
<label for = 'cat_description'>Description</label>
<textarea name = "cat[description]" id = "cat_description">
<%= @cat.description%>
</textarea>
</p>


<input type="submit" value="<%= submit_text %>">