<h1>All of the cats</h1>

<table>
  <% @cats.each do |cat|%>
    <tr>
      <td><%= link_to "#{cat.name.capitalize}", cat_url(cat.id) %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= link_to "New Cat", new_cat_url%></td>
  </tr>
</table>