<h1><%= @cat.name.capitalize %></h1>

<table>
    <tr>
      <td>Name:</td>
      <td><%= @cat.name.capitalize %></td>
    </tr>
    <tr>
      <td>Age:</td>
      <td><%= @cat.age %></td>
    </tr>
    <tr>
      <td>Birthday:</td>
      <td><%= @cat.birth_date %></td>
    </tr>
    <tr>
      <td>Color:</td>
      <td><%= @cat.color.capitalize %></td>
    </tr>
    <tr>
      <td>Sex:</td>
      <td><%= @cat.sex.capitalize %></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><%= @cat.description %></td>
    </tr>
    <tr><td>Requests</td>
      <td>
        <% sorted_requests = @cat.cat_rental_requests.sort_by{|r| r.start_date}%>
        <% sorted_requests.each do |request|%>
          Start:  <%= request.start_date %>
          End:    <%= request.end_date%>
          Status: <%= request.status %>
          <br>
        <% end %>
      </td>
    </tr>
  
    
    
</table>

<p><%= link_to "This cat needs improvement", edit_cat_url%></p>
</p><%= link_to "I'm bored with this cat", cats_url%></p>
